.text-primary {
    color: #07969E;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.m-0 {
    margin: 0;
}

.px-2 {
    padding-left: 10px;
    padding-right: 10px;
}

/* Smallest mobile screen */
@media (min-width: 320px) {
    .container {
        max-width: 320px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .navigators {
        display: none;
    }

    .hero-content {
        width: 100%;
        text-align: center;
    }

    .dowload-app {
        align-items: center;
        justify-content: center;
    }

    .hero-image-wrapper {
        width: 100%;
        margin-top: 100px;
    }

    .hero-header {
        font-size: 40px;
        line-height: 36px;
    }

    .desktop-display {
        display: none;
    }

    .mobile-display {
        display: block;
    }

    .hero-section-image {
        margin-right: 0;
        height: auto;
    }

    .partner-image {
        height: 50px;
    }

    .app-advert-wrapper {
        display: none;
    }

    .regulation-paragraph {
        font-size: 13px;
        line-height: 24px;
    }

    .regulation-header {
        font-size: 32px;
        line-height: 28.8px;
    }

    .card-content {
        width: 345px;
        height: 248px;
    }

    .testimonia-statement {
        font-size: 16px;
        line-height: 24px;
    }

    .testimonial-header {
        font-size: 32px;
        line-height: 28.8px;
    }

    .profile {
        bottom: 20px;
        left: 42%;
        flex-direction: column;
    }

    .community-content {
        display: none;
    }

    .community-image {
        width: 305px;
        height: 274px;
    }

    .community-image-wrapper {
        width: 100%;
    }

    .community-section {
        flex-direction: column;
    }

    .appDownload-banner-content {
        width: 100%;
        text-align: center;
    }

    .mobile-app-image {
        bottom: -269px;
        right: 16%;
    }
    .appDownload-banner{
        padding-bottom: 6rem;
    }
}

/* Small mobile screen */
@media (min-width: 375px) {
    .container {
        max-width: 375px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .navigators {
        display: none;
    }

    .hero-content {
        width: 100%;
        text-align: center;
    }

    .dowload-app {
        align-items: center;
        justify-content: center;
    }

    .hero-image-wrapper {
        width: 100%;
        margin-top: 100px;
    }

    .hero-header {
        font-size: 40px;
        line-height: 36px;
    }

    .desktop-display {
        display: none;
    }

    .mobile-display {
        display: block;
    }

    .hero-section-image {
        margin-right: 0;
        height: auto;
    }

    .partner-image {
        height: 50px;
    }

    .app-advert-wrapper {
        display: none;
    }

    .regulation-paragraph {
        font-size: 13px;
        line-height: 24px;
    }

    .regulation-header {
        font-size: 32px;
        line-height: 28.8px;
    }

    .card-content {
        width: 345px;
        height: 248px;
    }

    .testimonia-statement {
        font-size: 16px;
        line-height: 24px;
    }

    .testimonial-header {
        font-size: 32px;
        line-height: 28.8px;
    }

    .profile {
        bottom: 20px;
        left: 42%;
        flex-direction: column;
    }

    .community-content {
        display: none;
    }

    .community-image {
        width: 305px;
        height: 274px;
    }

    .community-image-wrapper {
        width: 100%;
    }

    .community-section {
        flex-direction: column;
    }

    .appDownload-banner-content {
        width: 100%;
        text-align: center;
    }

    .mobile-app-image {
        bottom: -269px;
        right: 16%;
    }
    .appDownload-banner{
        padding-bottom: 6rem;
    }
}

/* large mobile screen */
@media (min-width: 425px) {
    .container {
        max-width: 425px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .navigators {
        display: none;
    }

    .hero-content {
        width: 100%;
        text-align: center;
    }

    .dowload-app {
        align-items: center;
        justify-content: center;
    }

    .hero-image-wrapper {
        width: 100%;
        margin-top: 100px;
    }

    .hero-header {
        font-size: 40px;
        line-height: 36px;
    }

    .desktop-display {
        display: none;
    }

    .mobile-display {
        display: block;
    }

    .hero-section-image {
        margin-right: 0;
        height: auto;
    }

    .partner-image {
        height: 50px;
    }

    .app-advert-wrapper {
        display: none;
    }

    .regulation-paragraph {
        font-size: 13px;
        line-height: 24px;
    }

    .regulation-header {
        font-size: 32px;
        line-height: 28.8px;
    }

    .card-content {
        width: 345px;
        height: 248px;
    }

    .testimonia-statement {
        font-size: 16px;
        line-height: 24px;
    }

    .testimonial-header {
        font-size: 32px;
        line-height: 28.8px;
    }

    .profile {
        bottom: 20px;
        left: 42%;
        flex-direction: column;
    }

    .community-content {
        display: none;
    }

    .community-image {
        width: 305px;
        height: 274px;
    }

    .community-image-wrapper {
        width: 100%;
    }

    .community-section {
        flex-direction: column;
    }

    .appDownload-banner-content {
        width: 100%;
        text-align: center;
    }

    .mobile-app-image {
        bottom: -269px;
        right: 16%;
    }
    .appDownload-banner{
        padding-bottom: 6rem;
    }
}

/* Small tab screen */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .navigators {
        display: none;
    }

    .hero-content {
        width: 100%;
        text-align: center;
    }

    .dowload-app {
        align-items: center;
        justify-content: center;
    }

    .hero-image-wrapper {
        width: 100%;
        margin-top: 100px;
    }

    .hero-header {
        font-size: 56px;
        line-height: 60px;
    }

    .mobile-display {
        display: none;
    }

    .desktop-display {
        display: block;
    }

    .hero-section-image {
        margin-right: 0;
        height: 433.2px;
    }

    .partner-image {
        height: auto;
    }

    .article-image {
        height: 300px;
    }

    .app-advert-wrapper {
        display: none;
    }

    .regulation-paragraph {
        font-size: 16px;
        line-height: 24px;
    }

    .regulation-header {
        font-size: 40px;
        line-height: 48px;
    }

    .card-content {
        width: 409px;
        height: 248px;
    }

    .testimonia-statement {
        font-size: 18px;
        line-height: 23.44px;
    }

    .testimonial-header {
        font-size: 40px;
        line-height: 48px;
    }

    .profile {
        bottom: 20px;
        left: 20px;
        flex-direction: row;
    }

    .community-content {
        display: none;
    }

    .community-image {
        width: 432px;
        height: 386px;
    }

    .community-image-wrapper {
        width: 100%;
    }

    .community-section {
        flex-direction: column;
    }

    .appDownload-banner-content {
        width: 100%;
        text-align: center;
    }

    .mobile-app-image {
        bottom: -269px;
        right: 32%;
    }
    .appDownload-banner{
        padding-bottom: 6rem;
    }
}

/* large tab screen */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .menu-icon {
        display: block;
    }

    .navigators {
        display: none;
    }

    .hero-content {
        width: 100%;
        text-align: center;
    }

    .dowload-app {
        align-items: center;
        justify-content: center;
    }

    .hero-image-wrapper {
        width: 100%;
        margin-top: 100px;
    }

    .hero-header {
        font-size: 56px;
        line-height: 60px;
    }

    .mobile-display {
        display: none;
    }

    .desktop-display {
        display: block;
    }

    .hero-section-image {
        margin-right: 0;
        height: 433.2px;
    }

    .partner-image {
        height: auto;
    }

    .article-image {
        height: 420px;
    }

    .app-advert-wrapper {
        display: flex;
    }

    .regulation-section {
        height: 372px;
    }

    .regulation-paragraph {
        font-size: 16px;
        line-height: 24px;
    }

    .regulation-header {
        font-size: 40px;
        line-height: 48px;
    }

    .card-content {
        width: 409px;
        height: 248px;
    }

    .testimonia-statement {
        font-size: 18px;
        line-height: 23.44px;
    }

    .testimonial-header {
        font-size: 40px;
        line-height: 48px;
    }

    .profile {
        bottom: 20px;
        left: 20px;
        flex-direction: row;
    }

    .community-content {
        display: none;
    }

    .community-image {
        width: 432px;
        height: 386px;
    }

    .community-image-wrapper {
        width: 100%;
    }

    .community-section {
        flex-direction: column;
    }

    .appDownload-banner-content {
        width: 100%;
        text-align: center;
    }

    .mobile-app-image {
        bottom: -269px;
        right: 32%;
    }
    .appDownload-banner{
        padding-bottom: 6rem;
    }
}

/* Small laptop screen */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .navigators {
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    .hero-content {
        width: unset;
        text-align: unset;
    }

    .dowload-app {
        align-items: unset;
        justify-content: unset;
    }

    .hero-image-wrapper {
        width: unset;
        margin-top: unset;
    }

    .hero-header {
        font-size: 56px;
        line-height: 60px;
    }

    .mobile-display {
        display: none;
    }

    .desktop-display {
        display: block;
    }

    .hero-section-image {
        margin-right: 95px;
        height: 433.2px;
    }

    .partner-image {
        height: auto;
    }

    .article-image {
        height: 480px;
    }

    .app-advert-wrapper {
        display: flex;
    }

    .regulation-section {
        height: 372px;
    }

    .regulation-paragraph {
        font-size: 16px;
        line-height: 24px;
    }

    .regulation-header {
        font-size: 40px;
        line-height: 48px;
    }

    .card-content {
        width: 409px;
        height: 248px;
    }

    .testimonia-statement {
        font-size: 18px;
        line-height: 23.44px;
    }

    .testimonial-header {
        font-size: 40px;
        line-height: 48px;
    }

    .profile {
        bottom: 20px;
        left: 20px;
        flex-direction: row;
    }

    .community-content {
        display: block;
    }

    .community-image {
        width: 432px;
        height: 386px;
    }

    .community-image-wrapper {
        width: unset;
    }

    .community-content-mobile {
        display: none;
    }

    .community-section {
        flex-direction: row;
    }

    .appDownload-banner-content {
        width: 50%;
        text-align: left;
    }

    .mobile-app-image {
        bottom: -50px;
        right: 10%;
    }
    .appDownload-banner{
        padding-bottom: 0;
    }
}

/* Normal laptop screen */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .navigators {
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    .hero-content {
        width: unset;
        text-align: unset;
    }

    .dowload-app {
        align-items: unset;
        justify-content: unset;
    }

    .hero-image-wrapper {
        width: unset;
        margin-top: unset;
    }

    .hero-header {
        font-size: 56px;
        line-height: 60px;
    }

    .mobile-display {
        display: none;
    }

    .desktop-display {
        display: block;
    }

    .hero-section-image {
        margin-right: 95px;
        height: 433.2px;
    }

    .partner-image {
        height: auto;
    }

    .article-image {
        height: 480px;
    }

    .app-advert-wrapper {
        display: flex;
    }

    .regulation-section {
        height: 372px;
    }

    .regulation-paragraph {
        font-size: 16px;
        line-height: 24px;
    }

    .regulation-header {
        font-size: 40px;
        line-height: 48px;
    }

    .card-content {
        width: 409px;
        height: 248px;
    }

    .testimonia-statement {
        font-size: 18px;
        line-height: 23.44px;
    }

    .testimonial-header {
        font-size: 40px;
        line-height: 48px;
    }

    .profile {
        bottom: 20px;
        left: 20px;
        flex-direction: row;
    }

    .community-content {
        display: block;
    }

    .community-image {
        width: 432px;
        height: 386px;
    }

    .community-image-wrapper {
        width: unset;
    }

    .community-content-mobile {
        display: none;
    }

    .community-section {
        flex-direction: row;
    }

    .appDownload-banner-content {
        width: 50%;
        text-align: left;
    }

    .mobile-app-image {
        bottom: -50px;
        right: 10%;
    }
    .appDownload-banner{
        padding-bottom: 0;
    }
}